<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <test name="POC">
		<classes>
			<!-- <class name="com.RingPay.TestScripts.RingPayTestScripts" /> -->
			<class name="Printing.POC.CheckingConcept"/>
		</classes>
	</test>
</suite> <!-- Suite -->
